body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    color: white;
    font-family: 'Indie Flower', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh; 
}

h1 {
    font-size: 45px;
    margin-top: 20px;  
    margin-bottom: 40px; 
}

.back-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 20px;
    padding: 20px 40px;
    margin: 15px;
    cursor: pointer;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
    transition: background-color 0.2s;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.back-button:hover {
    background-color: lightgreen;
}
