{% extends "main-layout.html" %}

{% block title %} SkyHigh {% endblock %}

{% block navbar %}
  <li class="nav-item"><a class="nav-link click-scroll" href="/whiteboard">Whiteboard</a></li>
{% endblock %}

{% block main %}
  
  <section class="section-padding section-bg">
    <div class="container" style="margin-top: 50px;">
      
      <form id="form" action="/gallery" method="post">
        <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
        
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Username</label>
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Description</label>
  
          <input class="form-control" id="search" placeholder="Username" style="flex-grow: 1; margin-left: 10px;">
          <input name="search" id="real" hidden>

          <div class="dropdown" style="margin-right: 10px">
            <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort by
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Newest</li>
              <li class="dropdown-item">Oldest</li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item">Views</li>
              <li class="dropdown-item">Likes</li>
              <li class="dropdown-item">Comments</li>
              <li><hr class="dropdown-divider"></li>
              <li class="dropdown-item">Username</li>
              <li class="dropdown-item">Description</li>
              <li><hr class="dropdown-divider"></li>
              <input id="current" name="current" value="Newest" disabled class="notquite">
            </ul>
          </div>

          <button type="submit" onclick="gallery_submit();" class="btn btn-primary">Search</button>
        </div>
      </form>
      
      <div class="container grids" style="margin-top: 50px;">
        {% for image in data %}
          <div>
            <a class="send" data-url="{{ image[0] }}">
              <img src="{{ image[0] }}" id="image">
            </a>
            <hr>
            <p><strong>Description: </strong>{{ image[1]|truncate(50) }}</p>
            <p><strong>Date: </strong>{{ image[2][:10] }}</p>
          </div>
        {% endfor %}
      </div>

      <div class="container "></div>
        {% if not data %}
          <p class="text-center">There are no images or none match your searches!</p>
        {% endif %}
      </div>

      <div id="details" class="container-lg"></div>
      <div id="dimming" onclick="clearDimming()"></div>
    </div>
  </section>

  <script>
    function clearDimming() {
      document.getElementById('dimming').style.display = "none";
      document.getElementById('details').style.display = "none";
    }
    function gallery_submit() {
      document.getElementById('current').disabled = false;

      const search_for = document.getElementById('search');
      const real = document.getElementById('real');
      
      if (document.getElementById('btnradio1').checked) {
        real.value = search_for.value + "user";
      } else {
        real.value = search_for.value + "desc";
      }
      
    }


    const username = document.getElementById('btnradio1');
    const description = document.getElementById('btnradio2');
    const search = document.getElementById('search');
    username.addEventListener('click', () => {
      search.placeholder='Username';
    });
    description.addEventListener('click', () => {
      search.placeholder='Description';
    });

    const sortOptions = document.querySelectorAll('.dropdown-item');
    const current = document.getElementById('current');
    sortOptions.forEach(option => {
      option.addEventListener('click', () => {
        current.value = option.textContent;
      });
    });


    document.querySelectorAll('.send').forEach(image => {
      image.addEventListener('click', function(e) {
        e.preventDefault();

        const url = this.getAttribute('data-url')
        const detailsDiv = document.getElementById('details');
        const dimmingDiv = document.getElementById('dimming');

        fetch('/details', {
          method: 'POST',
          headers: {'Content-Type': 'application/json',},
          body: JSON.stringify({'url': url})
        })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            detailsDiv.innerHTML = `
              <p class="description">An error occured</p>
            `;
          } else {
            const heart_type = data.liked ? "fa-solid" : "fa-regular";

            detailsDiv.innerHTML = `
              <div><img class="max" src="${url}"></div>
              <p class="description mt-smaller">
                ${data.description}
                <br>
                - <i>${data.creator}</i>
              </p>

              <div class="mt">
                <i class="fa-solid fa-eye"></i> 
                <span class="mr">${data.views}</span>
                
                <a id="likes" onclick="likes()" data-url="${url}"><i class="${heart_type} fa-heart"></i></a> 
                <span id="like_count" class="mr">${data.likes}</span>

                <i class="fa-regular fa-comment"></i>
                <span class="mr" id="comment_count">${data.comment_count}</span>
                
                <span>${data.date}</span>

                <fieldset>  
                  <legend style="margin-bottom: 10px;">Comments</legend>

                  <hr style="width: 100%; margin: 10px 0;">
                  <div id="comment-section" style="width: 100%;">
                    ${data.comments.map(comment => `
                      <p class="username">${comment[0]} <span class="date">${comment[2]}</span></p>
                      <div class="comment-container">
                        <p class="comment">${comment[1]}</p>
                      </div>
                    `).join('')}
                  </div>
                  <hr style="width: 100%; margin-bottom: 20px;">

                  <div style="display: flex; align-items: center; width: 100%;">
                    <input id="comment" class="form-control" placeholder="Comment something!" style="flex: 1; margin-right: 10px;">
                    <button class="btn btn-primary" onclick="comments()">Comment</button>
                  </div>
                </fieldset>
              </div>
            `;
            detailsDiv.style.display = "initial";
            dimmingDiv.style.display = "initial";
          }

        })
        .catch(err => {
          console.error('Error', err);
          alert('an error occured');
        });
      });
    });

    function likes() {
      const likes = document.getElementById('likes');
      const like_count = document.getElementById('like_count')
      const url = document.querySelector('.max').src;

      fetch('/likes', {
        method: 'POST',
        headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({'url': url, 'inner': likes.innerHTML})
      })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          alert(data.error)
        } else {
          like_count.innerHTML = `${data.likes}`;

          if (data.type == "not_pressed") {
            likes.innerHTML = `<i class="fa-solid fa-heart"></i>`;
          } else {
            likes.innerHTML = `<i class="fa-regular fa-heart"></i>`;
          }
        }
      })
      .catch(err => {
        console.error('Error', err);
        alert('an error occured');
      });
    }
    function comments() {
      const user_input = document.getElementById('comment');
      const comment_section = document.getElementById('comment-section');
      const url = document.querySelector('.max').src;
      const comment_count = document.getElementById('comment_count');


      fetch('/comment', {
        method: 'POST',
        headers: {'Content-Type': 'application/json',},
        body: JSON.stringify({'url': url, 'user_input': user_input.value})
      })
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          alert(data.error)
        } else {
          comment_count.innerHTML = `${data.comment_count}`;

          comment_section.innerHTML += `
          <p class="username">${data.username} <span class="date">${data.date}</span></p>
          <div class="comment-container">
            <p class="comment">${data.comment}</p>
          </div>
          `
        }
        user_input.value = ""
      })
      .catch(err => {
        console.error('Error', err);
        alert('an error occured');
      });
    }
  </script>
{% endblock %}