{% extends "main-layout.html" %}

{% block title %} SkyHigh {% endblock %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link click-scroll" href="/whiteboard">Whiteboard</a></li>
{% endblock %}

{% block main %}
  
    <section class="section-padding section-bg">
      <div class="container" style="margin-top: 50px;">
        
        <form action="/gallery" method="post">
          <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1" name="search">Username</label>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2" name="search">Description</label>
    
            <input class="form-control" id="search" placeholder="Username" style="flex-grow: 1;margin-left: 10px;">
  
            <div class="dropdown" style="margin-right: 10px">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-item">Newest</li>
                <li class="dropdown-item">Oldest</li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-item">Views</li>
                <li class="dropdown-item">Likes</li>
                <li class="dropdown-item">Comments</li>
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-item">Username</li>
                <li class="dropdown-item">Description</li>
                <li><hr class="dropdown-divider"></li>
                <li id="current" name="current" class="notquite" style="background-color: #63C5DA;">Newest</li>
              </ul>
            </div>
  
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      
        <div class="container grids" style="margin-top: 50px;">
          {% for image in data %}
            <div>
              <a class="send" data-url="{{ image[0] }}">
                <img src="{{ image[0] }}" id="image">
              </a>
              <hr>
              <p><strong>Description: </strong>{{ image[1]|truncate(50) }}</p>
              <p><strong>Date: </strong>{{ image[2][:10] }}</p>
            </div>
          {% endfor %}
        </div>
        
      </div>
    </section>

  <script>
    let username = document.getElementById('btnradio1');
    let description = document.getElementById('btnradio2');
    let search = document.getElementById('search');

    username.addEventListener('click', function() {
      search.placeholder='Username';
    });
    description.addEventListener('click', function() {
      search.placeholder='Description';
    });
  </script>
  <script>
    let sortOptions = document.querySelectorAll('.dropdown-item');
    let current = document.getElementById('current')

    sortOptions.forEach(option => {
      option.addEventListener('click', () => {
        current.innerHTML = option.textContent;
      });
    });
  </script>
  <script>
    document.querySelectorAll('.send').forEach(image => {
      image.addEventListener('click', function(e) {
        e.preventDefault();

        let url = this.getAttribute('data-url')

        fetch('/details', {
          method: 'POST',
          headers: {'Content-Type': 'application/json',},
          body: JSON.stringify({'url': url})
        });

      });
    });
  </script>
{% endblock %}