{% extends "layout.html" %}

{% block title %} Help Center {% endblock %}

{% block body %}        
    <h1>Help</h1>

    <p>Dial 988 to talk to someone(Available 24/7)</p>
    <a href="988lifeline.org">988lifeline.org</a>
    <p>Text HOME to 741741 to text someone(Available 24/7)</p>
    <p>Dial 1-800-799-7233 for domestic violence</p>
    <p>Dial 1-800-996-6228 for family violence</p>
    <p>Dial 1-800-366-8288 for self-harm</p>
    <p>Dial 1-888-843-4564 for alcholism and drug dependency</p>
    <p>Dial 1-833-852-6262 for materbak mental health</p>
    <hr>
    <p>Before you do anything stupid, talk to someone, anyone. Even someone on the streets.</p>

    <div><a href="/"><button class="back-button">Back</button></a></div>
{% endblock %}
