<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/css/templatemo-topic-listing.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
    </head>

    <body id="top">
        
        <nav class="navbar navbar-expand-lg">
            <div class="container">
            
            <a class="navbar-brand" href="/"><span>SkyHigh</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-5 me-lg-auto">{% block navbar %}{% endblock %}</ul>
                <div class="d-none d-lg-block"><a href="/login"><button class="btn">Log out</button></a></div>
            </div>
                    
            </div>
        </nav>

        {% block main %}{% endblock %}

        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-6">

                        <h6 class="site-footer-title mb-3">Resources</h6>
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item"><a href="/" class="site-footer-link">Home</a></li>
                        </ul>

                        <h6 class="site-footer-title mb-3">Information</h6>
                        <p class="text-white d-flex"><a href="/" class="site-footer-link">SkyHigh.com</a></p>
                        
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Get Help</h6>

                        <p class="smaller">Dial <a class="site-footer-link" href="tel: 988">988</a> to talk to someone</p>
                        <p class="smaller">Dial <a class="site-footer-link" href="tel: 1-800-799-7233">1-800-799-7233</a> for domestic violence</p>
                        <p class="smaller">Dial <a class="site-footer-link" href="tel: 1-800-996-622">1-800-996-622</a>8 for family violence</p>
                        <p class="smaller">Dial <a class="site-footer-link" href="tel: 1-800-366-8288">1-800-366-8288</a> for self-harm</p>
                        <p class="smaller">Dial <a class="site-footer-link" href="tel: 1-888-843-4564">1-888-843-4564</a> for alcholism and drug dependency</p>
                        <p class="smaller">Dial <a class="site-footer-link" href="tel: 1-833-852-6262">1-833-852-6262</a> for maternal mental health</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        <p class="mt-lg-5 mt-4" style="color: #594D5B;">Stay safe and look to the skies!</p>
                    </div>

                </div>
            </div>
        </footer>

        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/click-scroll.js"></script>
        <script src="../static/js/custom.js"></script>

    </body>

</html>
