{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block type %} Register {% endblock %}

{% block body%}
<form method="POST" action="/register">
    <div class="mb-3">
        <label for="username" class="form-label">Username (25 letters max)</label>
        <input type="text" name="username" id="username" class="form-control" required autofocus placeholder="Enter a username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required placeholder="Enter your password">
    </div>
    <div class="mb-3">
        <label for="confirmation" class="form-label">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" required placeholder="Enter your email">
    </div>
    <button type="submit" class="btn btn-primary w-100">Register</button>
    </form>

    <p class="text-center mt-3">
        Return to <a href="/login">Login</a>
    </p>
{% endblock %}