{% extends "main-layout.html" %}

{% block title %} Whiteboard {% endblock %}

{% block navbar %}
    <li class="nav-item"><a class="nav-link click-scroll" href="/gallery">Gallery</a></li>
{% endblock %}

{% block main %}
    <section class="therapy-section section-padding section-bg" id="therapy">
        <div class="container">

            <div class="col-lg-12 col-12 text-center">
                <h2 class="mb-5" style="margin-top: 10vh;">Write about your feelings!</h2>
            </div>
            <form class="col-lg-6 col-12 mx-auto" id="searchImage" method="POST" action="/whiteboard">
                <div class="image-container">
                    {% if image %}
                        <img class="text-center" src="{{ image }}" alt="Your generated image" id="generatedImage" style="max-width: 100%; display: block;">
                    {% else %}
                        <p>No image generated yet. Please submit your story.</p>
                    {% endif %}
                </div>

                <div class="mb-3"><input type="text" class="form-control" id="story" name="story" placeholder="Write about your day! (500 letters max)" required></div>
                <button type="submit" class="btn btn-primary w-100">Submit Story</button>
            </form>

        </div>
    </section>
{% endblock %}